.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  &__item {
    display: flex;
    align-self: center;
    justify-content: center;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: var(--third-txt-color);
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
  }
}

.social-media__icon {
  width: 20px;
  height: 20px;
  display: flex;
  align-self: center;
  justify-content: center;
  fill: var(--icons-color);

  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .social-media__link:hover & {
    fill: var(--third-txt-color);
  }

  .social-media__link:focus & {
    fill: var(--third-txt-color);
  }
}

.social-media__link {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-media__icon--footer {
  fill: var(--third-txt-color);
}
